

body {
  font-family:          sans-serif;
  margin:               0;
  padding:              0;
  background:           url("../img/rainbow.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
}


h2 {
  color:                #2f79b9;
  width:                60%;
  font-size:            1.1em;
   font-family:         'Comfortaa', cursive;
   text-align:          center;
   font-weight:         bold;
   padding-top:         40px;
   margin:              0 auto;
}

h4 {
  margin:               0;
  padding:              10px;
}

p {
  color:                white;
  font-family:          'Comfortaa', cursive;
  font-size:            1.1em;
}


.glyphicon {
  position:             fixed;
  font-size:            4em;
  left:                 7%;
  top:                  22px;
  color:                white;
}

.menu {
  position:             fixed;
  top:                  100px;
  z-index:              1;
  display:              none;
  background-color:     rgba(230,230,230,0.5);
  width:                30%;
  line-height:          3em;
}

.menu a:hover, h4:hover {
  color:                white;
  background-color:     #2f79b9;
}

.menu ul {
  list-style-type:      none;
  padding:              0;
  margin:               0;
}

.menu li {
  text-align:          center;
  border-bottom:       2px solid white;
}

.intro {
  width:              30%;
  float:              right;
  text-align:         center;
  margin:             100px 100px 150px 0px;
}

.intro img {
  border-radius:     100px;
  border:             3px solid white;
}


h1 {
  font-family:         'Rock Salt', cursive;
  color:                white;
  text-align:           center;
  margin-top:           50px;
  font-size:            3em;
}

.nav li {
  font-size:          2em;
}

#portfolio {
  clear:            right;
  margin-top:       200px;
}

.tabintro {
  float:            left;
  width:            50%;
  margin-left:      100px;
}

.col-sm-4 img {
  width:             90%;
  padding-top:       10px;
}

.nav-tabs > li {
  float:             none;
  display:           inline-block;
} 

.nav-tabs {
  text-align:        center;
  clear:             left;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color:            #2f79b9;
    background-color: white;  
} 

.tab-content {
    background-color:  white;                 
}

.tab-content h1 {
    color:             #2f79b9;    
}

.container {
  width:              90%;
}

.container li {
  font-weight:         bold;
}

.col-sm-4 {
  text-align:          center;
  border:              1px solid white;
}

.col-sm-4 p {
  color:               #2f79b9;
}

.container p, #contactme p, #social p {
  margin:              30px auto 30px auto;
  width:               80%;  
  text-align:          center;
  font-weight:         bold;     
}

.contacttop {
  width:              40%;
  float:              right;
  margin:             100px 50px 500px 0px;
  text-align:         center;
  
}

.contacttop a {
  background-color:    white;
}

footer {
  background-color:     white;
  height:               100px;
  clear:                right;
  width:                100%;
  text-align:           center;
}

footer p {
  width:                70%;
  margin:               0 auto;
  padding-top:          20px;
  font-family:          sans-serif;
}

.modal-title {
  font-size:            5em;
  color:                #2f79b9;
}

.col-xs-4 {
  color:                #2f79b9;
}

.twitter {
  margin-left:          100px;
  margin-top:           100px;
}

@media (max-width: 500px) {

    .intro {
      float:              none;
      margin:             0 auto;
      display:            block;
    }



}

